body, div {
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
}
#container {
	height: 800px;
}
#left_panel {
	width: 400px;
	height: 100%;
	float: left;
	background-color: #555555;
	color: #ff9933;
	padding: 5px;
}
#right_panel {
}